* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #dcecff, #6bb7e8, #0b2435);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

nav {
    position: absolute;
    top: 30px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #07111f;
}

nav h2 {
    font-size: 28px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 45px;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.login-btn {
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 8px;
    color: white;
}

.login-box {
    width: 520px;
    padding: 50px 70px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.75), rgba(0,70,90,0.75));
    border-radius: 18px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.25);
    text-align: center;
}

.login-box h1 {
    margin-bottom: 60px;
    color: #07111f;
    letter-spacing: 2px;
}

.input-box {
    margin-bottom: 35px;
}

.input-box input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.45);
    padding: 12px;
    font-size: 18px;
    outline: none;
}

.input-box input::placeholder {
    color: #111;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    font-size: 15px;
}

.options a {
    color: #07111f;
    text-decoration: none;
    font-weight: bold;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #7db9f0, #4c91d8);
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.register-text {
    margin-top: 30px;
    color: white;
    font-size: 17px;
}

.register-text a {
    color: white;
    font-weight: bold;
    margin-left: 35px;
    text-decoration: none;
}

.error {
    color: red;
    margin-bottom: 20px;
    font-weight: bold;
}